header{
    border: 1px solid red;
    height: 80px;
}
header img
@media(min-width:768px){
    header{
        background-color: aquamarine;
    }
}
@media(max-width:425px){
    header{
        background-color: blue;
    }
}
@media(width:1024px){
    header{
        background-color: violet;
    }
}
